#ROS2 /colcon build artifacts (architectrue soecific, never commit these)
build/
install/
log/

#compilation db, this is machine specific
compile_commands.json

#virtual envs
.venv/
venv/

#python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

#IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

#Editor backups
*~

#local secrets (just in case)
*.local
.env

#dont need 3rd party sim for jetson
# Third-party code (cloned separately per machine)
src/f1tenth_system/
src/f1tenth_gym_ros/

# Build artifacts
build/
install/
log/

# CLion / IDE
.idea/
.vscode/
compile_commands.json

# Python
__pycache__/
*.pyc
*.egg-info/

# OS
.DS_Store

# Editor backups
*~
*.swp
